{%extends "base.html"%}

{%block conteudo%}

<div class="container col-5 mt-5">
    <h1>Cadastro de Produto</h1>

    <form action="" method="post">
        {% csrf_token %}
        <!-- Campo de Descrição -->
        <div class="mb-3">
            <label for="descricao" class="form-label"><strong>Descrição</strong></label>
            {{form.descricao}}
            <label for="unidade" class="form-label"><strong>Unidade de Medida</strong></label>
            {{form.unidade_medida}}
        </div>
        <div class="mb-3">
            <label for="valor" class="form-label"><strong>Valor</strong></label>
            {{form.valor}}
            <label for="quantidade" class="form-label"><strong>Quantidade</strong></label>
            {{form.quantidade}}
        </div>
        <div class="mb-3">
            <label for="quantidade" class="form-label"><strong>Estoque</strong></label>
            {{form.estoque}}
        </div>
        <!-- Botão de Enviar -->
        <button type="submit" class="btn btn-primary">Adicionar Produto</button>
    </form>
</div>

{%endblock%}