body {
    background-color: #f4f5f7;
    font-family: Arial, sans-serif;
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
}
.header .navbar {
    background-color: #34495e;
}
.header .navbar .navbar-nav .nav-item {
    margin-left: 15px;
}
.navbar-brand {
    font-weight: bold;
    color: #ecf0f1;
}
.navbar-nav .nav-link {
    color: #ecf0f1;
}
.navbar-nav .nav-link:hover {
    color: #27ae60;
}
.dashboard {
    padding: 2rem;
}
.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-header {
    background-color: #2c3e50;
    color: #ffffff;
    border-bottom: none;
    border-radius: 12px 12px 0 0;
}
.btn-upload {
    background-color: #27ae60;
    color: white;
}
.btn-upload:hover {
    background-color: #2ecc71;
}

/* Estilos para o container de mensagens */
.messages-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
    width: auto;
    max-width: 300px;
}

/* Estilos para cada mensagem */
.alert {
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos de animação para o slide-in */
.slide-in {
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Estilos para diferentes tipos de mensagens */
.alert-success {
    background-color: #4caf50;
    color: white;
}

.alert-danger {
    background-color: #f44336;
    color: white;
}

.alert-warning {
    background-color: #ff9800;
    color: white;
}

.alert-info {
    background-color: #2196f3;
    color: white;
}

/* Botão de fechar */
.btn-close {
    opacity: 1;
}

.errorlist {
    color: red;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    list-style: none;
}

input.is-invalid {
    border-color: red;
}