{% extends "base.html" %}
{% load static %}

{% block titulo %}
<title>Vendas</title>
<link rel="stylesheet" href="{% static 'styles/vendas.css' %}">
{% endblock %}

{% block conteudo %}

<div class="container mt-5">
    <section class="d-flex justify-content-between align-items-center mb-4">
        <!-- Campo de pesquisa -->
        <form method="" action="">
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Buscar pedido..."
                    value="">
                <button class="btn btn-outline-primary" type="submit">Buscar</button>
            </div>
        </form>

        <!-- Botão de adicionar nova venda -->
        <div class="col-md-2 text-center">
            <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#vendaModal">
                Novo Pedido
            </a>
        </div>

        <!-- Modal de Cadastro de Venda -->
        <div class="modal fade mt-5" id="vendaModal" tabindex="-1" aria-labelledby="vendaModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="vendaModalLabel">Novo pedido</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulário de cadastro de venda -->
                        <form action="{% url 'vendas' %}" method="post">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col-md-5 d-flex align-items-center">
                                    <label for="cliente" class="form-label"><strong>Cliente</strong></label>
                                    <input type="text" class="form-control form-control-sm ms-2" id="buscarCliente" placeholder="Buscar clientes...">
                                    <ul id="resultadoBusca" class="list-group position-absolute" style="width: 35%; z-index: 1000; margin-top: 16%; margin-left: 7%;"></ul>
                                </div>
                                <div class="col-md-5 d-flex align-items-center">
                                    <label for="data_venda" class="form-label"><strong>Data da Venda</strong></label>
                                    <input type="date" class="form-control form-control-sm ms-2" name="data_venda" id="buscar_produto">
                                </div>
                            </div>
                            <td>

                            </td>
                            <td>

                            </td>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="tabela-pedidos">
                                    <thead>
                                        <tr>
                                            <th>cód</th>
                                            <th>Produto</th>
                                            <th>UM</th>
                                            <th>Valor Unit. </th>
                                            <th>Quantidade</th>
                                            <th>Valor R$</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody id="salesTableBody">
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <strong>Valor Total R$: </label></strong><span class="ms-2"> 0,00 </span>
                                </div>
                                <!-- Botão de Enviar -->
                                <div class="d-flex justify-content-end col-9">
                                    <button type="button" id="addRowButton" class="btn btn-primary">Adicionar
                                        Produto</button>
                                    <button type="submit" class="btn btn-success ms-2">Concluir Pedido</button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Lista de vendas -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Número do Pedido</th>
                    <th>Cliente</th>
                    <th>Data da Venda</th>
                    <th>Valor Total</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for venda in vendas %}
                <tr data-id="{{ venda.id }}">
                    <td>{{ venda.numero_pedido }}</td>
                    <td>{{ venda.cliente }}</td>
                    <td>{{ venda.data_venda|date:"d/m/y" }}</td>
                    <td>{{ venda.valor_total }}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-secondary btn-editar">Editar</button>
                        <button type="button" class="btn btn-sm btn-danger btn-delete" data-bs-toggle="modal"
                            data-bs-target="#confirmDeleteModal" data-venda-id="{{ venda.id }}">
                            Excluir
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Nenhuma venda encontrada</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal de Confirmação de Exclusão -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Você tem certeza que deseja excluir esta venda?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="confirmDeleteButton" type="button" class="btn btn-danger">Excluir</button>
            </div>
        </div>
    </div>
</div>



<script src="{% static 'js/scripts-vendas.js' %}"></script>
<script src="{% static 'js/request-vendas.js' %}"></script>


{% endblock %}