{% extends "base.html"%}
{% load static %}
{%block titulo%}
<title>Estoque</title>
{%endblock%}

{%block conteudo%}

<div class="container mt-5">
    <section class="d-flex justify-content-between align-items-center mb-4">

        <!-- Campo de pesquisa -->
        <form method="GET" action="{% url 'estoque' %}">
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Pesquisar produtos..."
                    value="{{ request.GET.q }}">
                <button class="btn btn-outline-primary" type="submit">Buscar</button>
            </div>
        </form>

        <div class="col-md-2 text-center">
            <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal">
                Adicionar Produto
            </a>
        </div>

        <div class="modal fade mt-5" id="productModal" tabindex="-1" aria-labelledby="productModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productModalLabel">Cadastrar Produto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulário de cadastro de produto -->
                        <form action="" method="post">
                            {% csrf_token %}
                            <!-- Campo de Descrição -->
                            <div class="mb-3">
                                <label for="descricao" class="form-label"><strong>Descrição</strong></label>
                                {{form.descricao}}
                                <label for="unidade" class="form-label"><strong>Unidade de Medida</strong></label>
                                {{form.unidade_medida}}
                            </div>
                            <div class="mb-3">
                                <label for="valor" class="form-label"><strong>Valor</strong></label>
                                {{form.valor}}
                                <label for="quantidade" class="form-label"><strong>Quantidade</strong></label>
                                {{form.quantidade}}
                            </div>
                            <div class="mb-3">
                                <label for="quantidade" class="form-label"><strong>Estoque</strong></label>
                                {{form.estoque_id}}
                            </div>
                            <!-- Botão de Enviar -->
                            <button type="submit" class="btn btn-primary">Adicionar Produto</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- lista de produtos -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Unidade de Medida</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Entrada</th>
                    <th>Última movimentação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- Exemplo de produtos -->

                {%for produto in produtos%}
                <tr id="produto-{{produto.id}}">
                    <td>{{produto.id}}</td>
                    <td>{{produto.descricao}}</td>
                    <td>{{produto.unidade_medida}}</td>
                    <td>{{produto.quantidade}}</td>
                    <td>{{produto.valor}}</td>
                    <td>{{produto.data_joined|date:"d/m/y"}}</td>
                    <td>{{produto.data_saida}}</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-info">Editar</a>
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#confirmDeleteModal" data-produto-id="{{ produto.id }}">
                            Excluir
                        </button>
                    </td>
                </tr>
                {%empty%}
                <tr>
                    <td colspan="7" class="text-center">Nenhum produto encontrado</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal de confirmação -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Você tem certeza que deseja excluir este produto?
            </div>
            <div class="modal-footer">
                <button name="editButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="confirmDeleteButton" type="button" class="btn btn-danger">Excluir</button>
            </div>
        </div>
    </div>
</div>


<script>
    let produtoId;

    // Capturar o ID do produto quando o modal for aberto
    document.getElementById('confirmDeleteModal').addEventListener('show.bs.modal', function (event) {
        let button = event.relatedTarget;  // Botão que acionou o modal
        produtoId = button.getAttribute('data-produto-id');  // Extrai o ID do produto
    });

    // Enviar solicitação de exclusão quando o botão "Excluir" for clicado
    document.getElementById('confirmDeleteButton').addEventListener('click', function () {
        fetch(`/estoque/excluir/${produtoId}/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
            .then(response => {
                if (response.ok) {
                    console.log(`produto-${produtoId}`)
                    document.getElementById(`produto-${produtoId}`).remove();
                    let modal = bootstrap.Modal.getInstance(document.getElementById('confirmDeleteModal'));
                    modal.hide();
                    alert('Produto removido com sucesso!')
                } else {
                    alert('Erro ao excluir o produto.');
                }
            });
    });
</script>

<script src="{% static 'js/script.js' %}"></script>



{%endblock%}