{% extends "base.html"%}

{%block titulo%}
<title>Produtos</title>
{%endblock%}

{%block conteudo%}

<div class="container mt-5">
    <section class="d-flex justify-content-between align-items-center mb-4">

        <!-- Campo de pesquisa -->
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Pesquisar produtos...">
        </div>

        <div class="col-md-3 text-center">
            <a href="{% url 'produtos' %}" class="btn btn-success">Adicionar Produto</a>
        </div>
        <div class="col-md-3 text-center">
            <a href="#" class="btn btn-success">Adicionar Estoque</a>
        </div>

    </section>

    <!-- lista de produtos -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Unidade de Medida</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Entrada</th>
                    <th>Última movimentação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- Exemplo de produtos -->

                {%for produto in produtos%}
                <tr>
                    <td>{{produto.descricao}}</td>
                    <td>{{produto.unidade_medida}}</td>
                    <td>{{produto.quantidade}}</td>
                    <td>{{produto.valor}}</td>
                    <td>{{produto.data_entrada}}</td>
                    <td>{{produto.data_saida}}</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-warning">Editar</a>
                        <a href="#" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
                {%empty%}
                <tr>
                    <td colspan="7" class="text-center">Nenhum produto encontrado</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>


{%endblock%}