{% extends "base.html"%}
{% load static %}
{%block titulo%}
<title>Estoque</title>
{%endblock%}

{%block conteudo%}

<div class="container mt-5">
    <section class="d-flex justify-content-between align-items-center mb-4">

        <!-- Campo de pesquisa -->
        <form method="GET" action="{% url 'estoque' %}">
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Pesquisar produtos..."
                    value="{{ request.GET.q }}">
                <button class="btn btn-outline-primary" type="submit">Buscar</button>
            </div>
        </form>

        <div class="col-md-2 text-center">
            <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal">
                Adicionar Produto
            </a>
        </div>

        <div class="modal fade mt-5" id="productModal" tabindex="-1" aria-labelledby="productModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productModalLabel">Cadastrar Produto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulário de cadastro de produto -->
                        <form action="" method="post">
                            {% csrf_token %}
                            <!-- Campo de Descrição -->
                            <div class="mb-3">
                                <label for="descricao" class="form-label"><strong>Descrição</strong></label>
                                {{form.descricao}}
                                <label for="unidade" class="form-label"><strong>Unidade de Medida</strong></label>
                                {{form.unidade_medida}}
                            </div>
                            <div class="mb-3">
                                <label for="valor" class="form-label"><strong>Valor</strong></label>
                                {{form.valor}}
                                <label for="quantidade" class="form-label"><strong>Quantidade</strong></label>
                                {{form.quantidade}}
                            </div>
                            <div class="mb-3">
                                <label for="quantidade" class="form-label"><strong>Estoque</strong></label>
                                {{form.estoque_id}}
                            </div>
                            <!-- Botão de Enviar -->
                            <button type="submit" class="btn btn-primary">Adicionar Produto</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- lista de produtos -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>CÓD.</th>
                    <th>Nome</th>
                    <th>Unidade de Medida</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Entrada</th>
                    <th>Última movimentação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr data-id="{{ produto.id }}">
                    <td data-field="id">{{ produto.id }}</td>
                    <td class="editavel" data-field="descricao">{{ produto.descricao }}</td>
                    <td class="editavel" data-field="unidade_medida">{{ produto.unidade_medida }}</td>
                    <td class="editavel" data-field="quantidade">{{ produto.quantidade }}</td>
                    <td class="editavel" data-field="valor">{{ produto.valor }}</td>
                    <td>{{ produto.data_joined|date:"d/m/y" }}</td>
                    <td>{{ produto.data_saida }}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-secondary btn-editar">Editar</button>
                        <button type="button" class="btn btn-sm btn-danger btn-delete" data-bs-toggle="modal"
                            data-bs-target="#confirmDeleteModal" data-produto-id="{{ produto.id }}">
                            Excluir
                        </button>
                        <button type="button" class="btn btn-sm btn-success btn-confirmar d-none">Confirmar</button>
                        <button type="button" class="btn btn-sm btn-secondary btn-cancelar d-none">Cancelar</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">Nenhum produto encontrado</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal de confirmação -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Você tem certeza que deseja excluir este produto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="confirmDeleteButton" type="button" class="btn btn-danger">Excluir</button>
            </div>
        </div>
    </div>
</div>



<script src="{% static 'js/script.js' %}"></script>



{%endblock%}