{% extends "base.html" %}

{% block conteudo %}

<div class="container col-8 mt-5 text-start">
    <h3 class="mb-5">Perfil do Usuário  </h3>
    <form action="" method="post">
        {% csrf_token %}

        <div class="row mb-3">
            <div class="col-1">
                <strong><label for="first_name" class="form-label">Nome</label></strong>
                <p class="text-start">{{ user.first_name }}</p>
            </div>
            <div class="col-2">
                <strong><label for="last_name" class="form-label">Sobrenome</label></strong>
                <p class="text-start">{{ user.last_name }}</p>
            </div>
        </div>

        <div class="mb-3">
            <strong><label for="cpf" class="form-label">CPF</label></strong>
            <p class="text-start">{{ user.cpf }}</p>
        </div>

        <div class="mb-3 col-4">
            <strong><label for="email" class="form-label">E-mail</label></strong>
            <input type="email" id="email" name="email" class="form-control" value="{{ user.email }}" required>
        </div>

        <div class="mb-3 col-4">
            <strong><label for="phone" class="form-label">Telefone</label></strong>
            <input type="text" id="phone" name="phone" class="form-control" value="{{ user.phone }}" required>
        </div>

        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
</div>

{% endblock %}