<!-- Página de Gerenciamento de Colaboradores -->
{% extends 'index.html' %}
{% block content %}
<div class="container mt-4">
    

    <!-- Botão para adicionar novo colaborador -->
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCadastroColaborador">
            Novo
        </button>
        <div class="me-3"></div>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalImportaçãoColaborador">
            Importação
            <i class="bi bi-upload"></i>
        </button>
    </div>
    {% include 'modais/modal_adição_colaborador.html' %}

    <!-- Tabela de Colaboradores -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cód.</th>
                    <th>Nome</th>
                    <th>Setor</th>
                    <th>Cargo</th>
                    <th>Admissão</th>
                    <th>Ativo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for colaborador in colaboradores %}
                <tr>
                    <td class="align-middle">{{ colaborador.matricula }}</td>
                    <td class="align-middle">{{ colaborador.first_name }} {{ colaborador.last_name }}</td>
                    <td class="align-middle">{{ colaborador.setor }}</td>
                    <td class="align-middle">{{ colaborador.cargo }}</td>
                    <td class="align-middle">{{ colaborador.date_joined }}</td>
                    {% if colaborador.is_active %}
                        <td class="align-middle"><i class="bi bi-check-circle"></i></td>
                    {% else %}
                        <td class="align-middle"><i class="bi bi-x-circle"></i></td>
                    {% endif %}

                    <td>
                        <!-- Adicionar ações como editar ou excluir -->
                    
                        <a href="{% url 'colaboradores' %}?matricula={{ colaborador.matricula }}" class="btn btn-primary view-details">
                            <i class="bi bi-eye"></i>
                        </a>
                    
                        {% include 'modais/modal_edição_colaborador.html' %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Nenhum colaborador encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}