.list-group-item:hover {
    background-color: #d8d8d8;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateX(5px);
    transition: all 0.3s ease;

}

.list-group-item i {
    margin-right: 10px;
}