{% extends "base.html" %}


{% block titulo %}

<title>SGE</title>

{% endblock %}



{% block conteudo %}

<div class="d-flex justify-content-center align-itens-center mt-5">
    <form method="post" class="d-flex flex-column border p-4 rounded mt-5" style="width: 400px; height: 50vh;">
        <h1 class="text-center">SGE</h1>
        {% csrf_token %}
        <div class="col-md-12">
            <input type="text" name="username" class="form-control mb-3" placeholder="E-mail"
                value="{{ form.username.value }}">
            <input type="password" name="password" class="form-control mb-3" placeholder="Senha"
                value="{{ form.password.value }}">
        </div>
        <div class="d-flex flex-column align-items-center col-md-12">
            <button type="submit" class="btn btn-primary mt-4 col-md-12">Entrar</button>
            <a href="{% url 'registro' %}" class="mt-2">Registrar</a>
        </div>
    </form>
</div>

{% endblock %}