@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body,
header {
    padding: 0;
    margin: 0;

    width: 100%;

    font-family: Quicksand;
}

header {
    background-color: rgb(61, 65, 71);
    position: absolute;

    height: 8%;
    display: flex;
    justify-content: space-between;

    color: rgb(248, 255, 249);
}

#logo {
    font-family: Roboto Condensed;
    font-size: 3em;
    margin: 0
}

header>div {
    display: flex;
    width: 10em;
    justify-content: space-around;
}

img {
    border-radius: 50%;
    border: solid rgb(36, 36, 36) 2px;
    width: 30%;
    height: 80%;
}