html, body {
    height: 100%;
    margin: 0;
}
.login-container {
    min-height: 83.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0; 
    border-radius: 8px;
}

.login-card h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #343a40;
}

.form-group input {
    border-radius: 8px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
}

.form-text {
    font-size: 14px;
    color: #6c757d;
}

.alert {
    display: none;
}

body {
    background-color: #343a40;  
}

.btn {
    background-color: #343a40;
}

button[type="submit"] {
    background-color: #343a40;
    color: #ff8d21;
    border: none;
}

button[type="submit"]:hover {
    background-color: #495057;
    color: #ffffff;
    color: #ff8d21;
}


.alert-danger {
    background-color: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    padding: 1rem;

    animation: fadeIn 0.5s ease-out;
}
.alert-danger ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.alert-danger li {
    margin-bottom: 0.5rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}