/* Estilo do botão */
.btn-custom {
    background-color: #343a40;
    /* Cinza Chumbo */
    color: #ffffff;
    /* Texto Branco */
    border-radius: 8px;
    border: none;
}

.btn-custom:hover {
    background-color: #495057;
    /* Cinza um pouco mais claro */
}

/* Estilo do menu lateral */
.offcanvas-custom {
    background-color: #343a40;
    /* Cinza Chumbo */
    color: #ffffff;
    /* Texto Branco */
}

.offcanvas-custom .list-group-item {
    background-color: #495057;
    /* Fundo dos itens */
    color: #ffffff;
    /* Texto branco */
    border: none;
    /* Remove as bordas padrão */
}

.offcanvas-custom .list-group-item:hover {
    background-color: #6c757d;
    /* Fundo ao passar o mouse */
}

.offcanvas-title {
    font-weight: bold;
    font-size: 1.5rem;
}