<!-- Modal de Edição de Colaborador -->
<div class="modal fade" id="editColaboradorModal" tabindex="-1" aria-labelledby="editColaboradorLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editColaboradorLabel">Editar Dados do Colaborador</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="editColaboradorForm" method="post">
          {% csrf_token %}
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 mb-3">
                <strong><label for="matricula" class="form-label">Matricula: </strong>{{ form_atualizar.matricula }}</label>
              </div>
              <h6 class="mb-3">Dados Pessoais</h6>
              <div class="col-md-6 mb-3">
                <label for="nome_edit" class="form-label">Nome</label>
                {{ form_atualizar.first_name }}
              </div>
              <div class="col-md-6 mb-3">
                <label for="sobrenome_edit" class="form-label">Sobrenome</label>
                {{ form_atualizar.last_name }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cpf_edit" class="form-label">CPF</label>
                {{ form_atualizar.cpf }}
              </div>
              <div class="col-md-6 mb-3">
                <label for="email_edit" class="form-label">E-mail</label>
                {{ form_atualizar.email }}
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="telefone_edit" class="form-label">Telefone</label>
              {{ form_atualizar.telefone }}
            </div>
            <div class="col-md-6 mb-3">
              <label for="data_nascimento_edit" class="form-label">Data de Nascimento</label>
              {{ form_atualizar.data_nascimento }}
            </div>
            <h6 class="mb-3 mt-5">Endereço</h6>
            <div class="col-md-6 mb-3">
              <label for="cep_edit" class="form-label">CEP</label>
              {{ form_endereco.cep }}
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="rua_edit" class="form-label">Rua</label>
                {{ form_endereco.rua }}
              </div>
              <div class="col-md-6 mb3">
                <label for="n_edit" class="form-label">N°</label>
                {{ form_endereco.numero }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="estado_edit" class="form-label">Estado</label>
                {{ form_endereco.estado }}
              </div>
              <div class="col-md-6 mb-3">
                <label for="cidade_edit" class="form-label">Cidade</label>
                {{ form_endereco.cidade }}
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="bairro_edit" class="form-label">Bairro</label>
              {{ form_endereco.bairro }}
            </div>
            <div class="col-md-6 mb-3">
              <label for="pais_edit" class="form-label">Pais</label>
              {{ form_endereco.pais }}
            </div>
            <h6 class="mb-3 mt-5">Dados profissionais</h6>
            <div class="col-md-6 mb-3">
              <label for="empresa_notEditable" class="form-label">Empresa</label>
              {{ form_atualizar.empresa }}
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="setor_edit" class="form-label">Setor</label>
                {{ form_atualizar.setor }}
              </div>
              <div class="col-md-6 mb-3">
                <label for="cargo" class="form-label">Cargo</label>
                {{ form_atualizar.cargo }}
              </div>
            </div>
            
            <div class="mb-3 align-middle">
              <label for="is_active_edit" class="form-label">Ativo?</label>
              {{ form_atualizar.is_active }}
            </div>
            <div class="mb-3">
              <label for="is_staff_edit" class="form-label">Staff?</label>
              {{ form_atualizar.is_staff }}
            </div>
          </div>
          <div class="modal-footer" id="footerModal">
            <a type="button" class="btn btn-danger" data-bs-dismiss="modal" id="close">Fechar</a>
            <button type="button" class="btn btn-primary" id="edit" name="atualizar">Editar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

 

