<!-- Modal de Cadastro de Colaborador -->

<div class="modal fade" id="modalCadastroColaborador" tabindex="-1" aria-labelledby="modalCadastroColaboradorLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCadastroColaboradorLabel">Cadastrar Colaborador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="" id="formCadastroColaborador">
                {% csrf_token %}
                <div class="modal-body">
                    {% if form_colaborador.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field, errors in form_colaborador.errors.items %}
                            <li>
                                <strong>{{ field|capfirst }}:</strong>
                                {% for error in errors %}
                                {{ error }}
                                {% endfor %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <!-- Dados Pessoais -->
                    <h6 class="mb-3">Dados Pessoais</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_nome" class="form-label">Nome</label>
                                {{form_colaborador.first_name}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_sobrenome" class="form-label">Sobrenome</label>
                                {{form_colaborador.last_name}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_cpf" class="form-label">CPF</label>
                                {{form_colaborador.cpf}}
                                {% if form_colaborador.cpf.errors %}
                                <div class="text-danger">
                                    {{ form_colaborador.cpf.errors|join:" " }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_email" class="form-label">Email</label>
                                {{form_colaborador.email}}
                                {% if form_colaborador.email.errors %}
                                <div class="text-danger">
                                    {{ form_colaborador.email.errors|join:" " }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_telefone" class="form-label">Telefone</label>
                                {{form_colaborador.telefone}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="id_data_nascimento" class="form-label">Data de Nascimento</label>
                                    {{form_colaborador.data_nascimento}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="mb-3">Endereço</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="id_cep">CEP</label>
                                    {{form_endereco.cep}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_rua">Rua</label>
                                {{form_endereco.rua}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_numero">N°</label>
                                {{form_endereco.numero}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_estado">Estado</label>
                                {{form_endereco.estado}}
                            </div>
                            <div class="mb-3">
                                <label for="id_bairro">Bairro</label>
                                {{form_endereco.bairro}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_cidade">Cidade</label>
                                {{form_endereco.cidade}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_pais">Pais</label>
                                {{form_endereco.pais}}
                            </div>
                        </div>
                    </div>


                    <!-- Dados Profissionais -->
                    <h6 class="mb-3">Dados Profissionais</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="empresa" class="form-label">Empresa</label>
                                {{form_colaborador.empresa}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_setor" class="form-label">Setor</label>
                                {{form_colaborador.setor}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_cargo" class="form-label">Cargo</label>
                                {{form_colaborador.cargo}}
                            </div>
                        </div>
                    </div>
                    <!-- Dados de Acesso -->
                    <h6 class="mb-3">Dados de Acesso</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_is_active" class="form-label">Ativo</label>
                                {{form_colaborador.is_active}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#cep').mask('00000-000');  // Aplica a máscara no campo de CEP
    });
    document.getElementById('cep').addEventListener('blur', function () {
        const cep = this.value.replace(/\D/g, ''); // Remove caracteres não numéricos
        if (cep.length === 8) {
            fetch(`https://viacep.com.br/ws/${cep}/json/`)
                .then(response => response.json())
                .then(data => {
                    if (!data.erro) {
                        document.getElementById('rua').value = data.logradouro || '';
                        document.getElementById('bairro').value = data.bairro || '';
                        document.getElementById('cidade').value = data.localidade || '';
                        document.getElementById('estado').value = data.uf || '';
                        document.getElementById('pais').value = data.country || 'Brasil';
                    } else {
                        alert('CEP não encontrado!');
                    }
                })
                .catch(error => console.error('Erro ao buscar o CEP:', error));
        } else {
            alert('CEP inválido!');
        }
    });

    document.getElementById('setor').addEventListener('change', function () {
        const setorId = this.value;

        // Fazer uma requisição para buscar os cargos filtrados
        fetch(`/api/cargos/?setor_id=${setorId}`)
            .then(response => response.json())
            .then(data => {
                const cargoField = document.getElementById('cargo');
                cargoField.innerHTML = ''; // Limpar opções anteriores

                if (!data.cargo || data.cargo.length == 0) {
                    return alert('Nenhum cargo cadastrado para o setor informado, realize o cadastro do cargo antes de seguir.');
                }

                data.forEach(cargo => {
                    const option = document.createElement('option');
                    option.value = cargo.id;
                    option.textContent = cargo.nome;
                    cargoField.appendChild(option);
                });
            });
    });
</script>