<div class="modal fade" id="modalAlterarIdioma" tabindex="-1" aria-labelledby="modalAlterarIdiomaLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAlterarIdiomaLabel">Alterar Idioma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="idioma" class="form-label">Selecione o Idioma</label>
                        <select class="form-select" id="idioma" name="idioma" required>
                            <option value="pt-br">Português (Brasil)</option>
                            <option value="en">Inglês</option>
                            <option value="es">Espanhol</option>
                            <option value="fr">Francês</option>
                            <!-- Adicione outros idiomas conforme necessário -->
                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            </div>
            </form>
        </div>
    </div>
</div>