<!-- Modal de Edição de Colaborador -->
<div class="modal fade" id="editColaboradorModal" tabindex="-1" aria-labelledby="editColaboradorLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editColaboradorLabel">Editar Dados do Colaborador</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="editColaboradorForm" method="POST" action="">
          {% csrf_token %}
          <div class="modal-body">
            <div class="row">
              <h6 class="mb-3">Dados Pessoais</h6>
              <div class="col-md-6 mb-3">
                <label for="nome_edit" class="form-label">Nome</label>
                <input type="text" id="nome_edit" name="nome" class="form-control" readonly>
              </div>
              <div class="col-md-6 mb-3">
                <label for="sobrenome_edit" class="form-label">Sobrenome</label>
                <input type="text" class="form-control" id="sobrenome_edit" name="sobrenome" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cpf_edit" class="form-label">CPF</label>
                <input type="text" class="form-control" id="cpf_edit" name="cpf" readonly>
              </div>
              <div class="col-md-6 mb-3">
                <label for="email_edit" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email_edit" name="email" readonly>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="telefone_edit" class="form-label">Telefone</label>
              <input type="text" id="telefone_edit" name="telefone" class="form-control" readonly>
            </div>
            <div class="col-md-6 mb-3">
              <label for="data_nascimento_edit" class="form-label">Data de Nascimento</label>
              <input type="text" id="data_nascimento_edit" name="data_nascimento" class="form-control" readonly>
            </div>
            <h6 class="mb-3 mt-5">Endereço</h6>
            <div class="col-md-6 mb-3">
              <label for="cep_edit" class="form-label">CEP</label>
              <input type="text" id="cep_edit" name="cep" class="form-control" readonly>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="rua_edit" class="form-label">Rua</label>
                <input type="text" name="rua" id="rua_edit" class="form-control" readonly>
              </div>
              <div class="col-md-6 mb3">
                <label for="n_edit" class="form-label">N°</label>
                <input type="text" name="n" id="n_edit" class="form-control" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="estado_edit" class="form-label">Estado</label>
                <input type="text" name="estado" id="estado_edit" class="form-control" readonly>
              </div>
              <div class="col-md-6 mb-3">
                <label for="cidade_edit" class="form-label">Cidade</label>
                <input type="text" name="cidade" id="cidade_edit" class="form-control" readonly>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="bairro_edit" class="form-label">Bairro</label>
              <input type="text" name="bairro" id="bairro_edit" class="form-control" readonly>
            </div>
            <div class="col-md-6 mb-3">
              <label for="pais_edit" class="form-label">Pais</label>
              <input type="text" name="pais" id="pais_edit" class="form-control" readonly>
            </div>
            <h6 class="mb-3 mt-5">Dados profissionais</h6>
            <div class="col-md-6 mb-3">
              <label for="empresa_notEditable" class="form-label">Empresa</label>
              <input type="text" class="form-control" readonly>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="setor_edit" class="form-label">Setor</label>
                <select name="setor" id="setor_edit" class="form-control" readonly></select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="cargo" class="form-label">Cargo</label>
                <select name="cargo" id="cargo_edit" class="form-control" readonly></select>
              </div>
            </div>
            
            <div class="mb-3 align-middle">
              <label for="is_active_edit" class="form-label">Ativo?</label>
              <input type="checkbox" name="is_active" id="is_active_edit" readonly>
            </div>
            <div class="mb-3">
              <label for="is_staff_edit" class="form-label">Staff?</label>
              <input type="checkbox" name="is_staff" id="is_staff_edit" readonly>
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Editar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

